{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/log-icon.png' %}" type="image/x-icon">
    <title>Alertlogger Main</title>
    <link rel="stylesheet" href="{% static 'webhook/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>Alert-Logs</h1>
        <div class="user-menu">
            <button class="user-name">{{ user.username }}</button>
            <div class="dropdown-content">
                <form method="post" action="{% url 'register:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>   
                <a href="{% url 'register:password_change' %}">Change Password</a>
            </div>
        </div>
    </div>

    <div class="container">
        <table id="alert-table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Severity</th>
                    <th>Summary</th>
                    <th>Description</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody id="alert-table-body">
                <!-- Alert data will be dynamically inserted here -->
            </tbody>
        </table>
        <button id="download-btn">Download Excel</button>
        <button id="delete-entries-btn">Delete Entries</button>
    </div>
    
    <!-- Confirmation modal -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <p>Confirm you want to delete all entries?</p>
            <button id="confirmDeleteBtn" class="confirm-btn">Confirm</button>
            <button id="cancelDeleteBtn">Cancel</button>
        </div>
    </div>

    {% if messages %}
    <div id="success-message" class="success-message">
        {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static 'webhook/script.js' %}"></script>
</body>
</html>