{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/log-icon.png' %}" type="image/x-icon">
    <title>Change Password Alertlogger</title>
    <link rel="stylesheet" href="{% static 'register/styles.css' %}">
</head>
<body>
    <div class="password-change-block">
        <h2>Change Password</h2>
        <form method="post" action="{% url 'register:password_change' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Current Password:</label>
                <input type="password" id="old_password" name="old_password" class="form-control" required>
                {% if form.old_password.errors %}
                <div class="error">{{ form.old_password.errors.as_text }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="new_password1">New Password:</label>
                <input type="password" id="new_password1" name="new_password1" class="form-control" required>
                {% if form.new_password1.errors %}
                <div class="error">{{ form.new_password1.errors.as_text }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" id="new_password2" name="new_password2" class="form-control" required>
                {% if form.new_password2.errors %}
                <div class="error">{{ form.new_password2.errors.as_text }}</div>
                {% endif %}
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
</body>
</html>
